body{
    background-color: #f1f1f1;
}

.page-wrapper{
    width: 1366px;
    text-align: center;
    
}

.header-wrapper{
    height: 150px;
    background-color: #fff;
}

ul{
        text-decoration: none;
    list-style: none;
}

li{
    display: inline;
    margin-right: 30px;

    
}

.nav{
    padding: 1% 0 1% 0;
}

.splash{
    
    height: 600px;
    background-color: orange;
    background-image: url(images/sasha-lebedeva-189532%20copy.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.splash h1{
    margin-left: 900px;
    width: 400px;
    text-align: right;
}